html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
	/*display: none;*/
	position: absolute;
	width: 100%;
	/*height: 500px;*/
	z-index: -1;
}

#container {
/*	background: url("http://ooomf-com-files.s3.amazonaws.com/10294420724_0300cf921d_o.jpg");
	background-repeatepeat: no-repeat;
	background-size: 100%;
	background-position: center;*/
	width: 100%;
	/*height: 1000px;*/
	padding: 1px;
}

ul {
	width: 75%;
	/*position: relative;*/
	margin: 100px auto;	
	text-align: center;
	list-style: none;
	padding: 1px;
}

li {
	width: 100%;
	margin: 20px;
}